@using SmestajDanTrebit.Models
@using System.Device
@model IEnumerable<Accomodation>

@{
    ViewBag.Title = "FindAccomodation";
}
@Styles.Render("~/Content/Apartments.css")
<h2>@Resources.Find_accomodation_in_Ohrid</h2>

<br />

@using (Html.BeginForm("Search", "Home"))
{
    @Html.TextBox("search")
    <input type="submit" value="@Resources.Search" />
}

<br />

<div class="row">

    @if (Model.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0">
            @foreach (Accomodation accomodation in Model)
            {
                if (!accomodation.Name.IsEmpty())
                {
                    var centar = new GeoCoordinatePortable.GeoCoordinate(41.11276, 20.79924);
                    var accomodationCoordinates = new GeoCoordinatePortable.GeoCoordinate(accomodation.Latitude, accomodation.Longitude);
                    <tr class="Apartment" style="height: 40px">
                        <td>
                            @if (HttpContext.Current.Request.Cookies["Language"] == null || HttpContext.Current.Request.Cookies["Language"].Value == "en")
                            {
                                @Html.ActionLink(accomodation.InternationalName, "ShowInfo", new { id = accomodation.Id })
                                <br />
                                <div>@string.Format("Distance to center: {0:F1} km", Convert.ToDouble(centar.GetDistanceTo(accomodationCoordinates) / 1000.0))</div>
                            }
                            else
                            {
                                @Html.ActionLink(accomodation.Name, "ShowInfo", new { id = accomodation.Id })
                                <br />
                                <div>@string.Format("Дистанца до центар: {0:F1} km", Convert.ToDouble(centar.GetDistanceTo(accomodationCoordinates) / 1000.0))</div>
                            }
                                                   
                        </td>
                    </tr>
                }

            }
        </table>
    }
</div>