@using SmestajDanTrebit.Models
@model IEnumerable<Accomodation>

@{
    ViewBag.Title = "FindAccomodation";
}

<h2>@Resources.Find_accomodation_in_Ohrid</h2>

<br />

@using (Html.BeginForm("Search", "Home"))
{
    @Html.TextBox("search")
    <input type="submit" value="@Resources.Search" />
}


<div class="row">

    @if (Model.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>@Resources.Name</th>
            </tr>
            @foreach (Accomodation accomodation in Model)
            {
                if (!accomodation.Name.IsEmpty())
                {
                    <tr>
                        <td>
                            @if (HttpContext.Current.Request.Cookies["Language"] == null)
                            {
                                @Html.ActionLink(accomodation.InternationalName, "ShowInfo", new { id = accomodation.Id })
                            }
                            else if (HttpContext.Current.Request.Cookies["Language"].Value == "en")
                            {
                                @Html.ActionLink(accomodation.InternationalName, "ShowInfo", new { id = accomodation.Id })
                            }
                            else
                            {
                                @Html.ActionLink(accomodation.Name, "ShowInfo", new { id = accomodation.Id })
                            }
                        </td>
                    </tr>
                }

            }
        </table>
    }
</div>
