@{
    ViewBag.Title = "Home Page";
} 

<h2>@Resources.Welcome_to_our_page</h2>
<br />
<h5>@Resources.Intro1</h5>
<h5>@Resources.Intro2</h5>
<br />
<h3>@Resources.Intro3</h3>
<br />
<br />

@Html.ActionLink(Resources.Find_accomodation_in_Ohrid, "FindAccomodation", "Home")
<br />
@Html.ActionLink(Resources.PlacesToVisit, "PlacesToVisit", "Home")