
@{
    ViewBag.Title = "PlacesToVisit";
}

<h2>@Resources.PlacesToVisit</h2>

<ul>
    <li>@Resources.Kaneo</li>
    <li>@Resources.Zaliv</li>
    <li>@Resources.Anticki</li>
    <li>@Resources.Sv_Naum</li>
</ul>