@model SmestajDanTrebit.Models.Accomodation
@{
    ViewBag.Title = "ShowInfo";
}

<h2>@Resources.Showing_info_for: @Model.Name</h2>
<br />
<a href="@Model.URL" class="btn btn-default" target="_blank">@Resources.Web_site</a>
<h3>@Model.InternationalName</h3>
<br />
<h2>@Resources.Map</h2>
<br />
<div id="demoMap" style="height:350px"></div>
<br />
@Html.ActionLink(Resources.Go_back, "FindAccomodation", "Home", new { @class = "btn btn-default" })

@section Scripts {

    <script src="~/Scripts/OpenLayers.js"></script>
    <script>
        map = new OpenLayers.Map("demoMap");
        map.addLayer(new OpenLayers.Layer.OSM());

        var lon = @Model.Longitude;
        var lat = @Model.Latitude;

        var lonLat = new OpenLayers.LonLat(lon, lat)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );

        var zoom = 15;

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        markers.addMarker(new OpenLayers.Marker(lonLat));

        map.setCenter(lonLat, zoom);
    </script>
}
