<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Home.css")
</head>
<body>
        <div class="container">
            <div id="intro" style="height: 70px">

                <ul>
                    <li>
                        @Html.ActionLink(Resources.Home, "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(Resources.FindAccomodation, "FindAccomodation", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(Resources.Mapa, "Map", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(Resources.PlacesToVisit, "PlacesToVisit", "Home")
                    </li>
                </ul>
                <div class="poddrska">
                    @Html.ActionLink("EN", "Change", "Language", new { LanguageAbbrevation = "en" }, null)
                    <a> | </a>
                    @Html.ActionLink("MK", "Change", "Language", new { LanguageAbbrevation = "mk" }, null) |
                    @using (Html.BeginForm("Search", "Home"))
                    {
                        @Html.TextBox("search")
                        <input type="submit" value="@Resources.Search" />
                    }
                </div>
            </div>
        </div>
    <div class="container body-content"  style="margin-left:2em">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
